<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人力资源管理系统</title>
    <link rel="stylesheet" rev="stylesheet" href="/css/style.css " type="text/css" media="all"/>
    <script type="text/javascript" src="/js/typem.js"></script>
    <script type="text/javascript" src="/js/js.js"></script>
</head>
<body class="ContentBody">
<form name="userForm" method="post" action="/user/edit" onSubmit="return userValidate();">
    <div class="MainDiv">
        <table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
            <tr>
                <th class="tablestyle_title">人员信息更新</th>
            </tr>
            <input type="hidden" name="id" th:value="${user.id}"/>
            <tr>
                <td class="CPanel">

                    <table width="90%" border="0" cellpadding="0" cellspacing="0" style="width:80%" align="center">
                        <!-- <tr><td align="left">
                             <input type="submit"value="更新" class="button"/>　
                             <input type="reset" value="返回" class="button"/>
                         </td></tr>-->

                        <TR>
                            <TD width="100%">
                                <fieldset style="height:100%;">
                                    <legend>人员信息</legend>
                                    <table width="100%" border="0" cellpadding="2" cellspacing="1" style="width:100%">
                                        <tr>
                                            <td nowrap align="right" width="9%">用户名：</td>
                                            <td width="36%"><input name="username" type="text" class="input"
                                                                   id="username" th:value="${user.userName}">
                                                <span class="red">*</span></td>
                                            <td width="12%">
                                                <div align="right">登陆密码：</div>
                                            </td>
                                            <td width="43%"><input name="password" type="text" class="input"
                                                                   id="password" th:value="${user.password}">
                                            </td>
                                            <span class="red">*</span></tr>
                                        <tr>
                                            <td nowrap align="right" width="9%">性别：</td>
                                            <td><input name="sex" type="radio" value="1"
                                                       th:attr="checked=${user.sex eq 1 ? true:false}"/> 男
                                                <input name="sex" type="radio" value="0"
                                                       th:attr="checked=${user.sex eq 0 ? true:false}">女
                                            </td>
                                            <td>
                                                <div align="right">出生日期：</div>
                                            </td>
                                            <td><input name="birthday" type="date" class="input" id="birthday"
                                                       th:value="${#dates.format(user.birthday,'yyyy/MM/dd')}" th:field="*{user.birthday}">
                                                <span class="red">*</span></td>
                                        </tr>
                                        <tr>
                                            <td nowrap align="right">是否管理员：</td>
                                            <td><input name="isadminhelp" type="checkbox"  onClick="javascript:adminChecked();"
                                                       th:attr="checked=${user.ISAdmin eq 1 ? true:false}" >
                                                <input type="hidden" name="ISAdmin" th:value="${user.ISAdmin}"></td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td nowrap align="right">人员简介：</td>
                                            <td colspan="3"><textarea name="content" cols="100" rows="6" class="input"
                                                                      id="content" th:text="${user.content}"></textarea></td>
                                        </tr>
                                    </table>
                                    <br/>
                                </fieldset>
                            </TD>

                        </TR>
                    </TABLE>
                </td>
            </tr>
            <TR>
                <TD colspan="2" align="center" height="50px">
                    <input type="submit" class="button" value="更新"/>　

                    <input type="reset" class="button" value="重置"/></TD>
            </TR>
        </TABLE>
    </div>
</form>
</body>
</html>